html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(233, 225, 210);
}

div#container {
    text-align: center;
}

.bouncy, div#select, input#values, button#select-values {
    background-color: rgb(74, 151, 240);
    border: 0;
    color: white;
    position:relative;
    font-family: arial;
    font-size: 16px;
}

.bouncy, div#select {
    margin-top: 15px;
}

input#values:focus, button#select-values:focus {
    outline: none; 
    border: solid 1px white;
    border-radius: 3px;
    padding: 4px;
    /* outline: solid 1px white; */
}

input[type="number"] {
    text-align:center;
}

div#select {
    margin-right: 3px;
}

.bouncy, div#select {
    animation: bouncy 5s infinite linear;
    padding: 12px 28px;
    border-radius: 12px;
}

/* Remove arrows from input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes bouncy {
    0%  {top:0em;}
    40% {top:0em;}
    43% {top:-0.9em;}
    46% {top:0em;}
    48% {top:-0.4em;}
    50% {top:0em;}
    100% {top:0em;}
}

div.numbers, div.sortedNumbers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(170, 170, 170);
    border-radius: 50%;
}

div#board, div#sortedNums {
    align-items: center;
    justify-content: center;
    padding: 15px;
    display: flex;
    width: 750px;
    flex-flow: row wrap;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid black;
}

div#board {
    height: 500px;
}

div#sortedNums {
    height: 100px;
}

div#msg {
    margin-top: 15px;
}

div#msg span {
    font-size: 25px;
}

div#select {
    display: inline;
}

@media (max-width: 950px) {
    div.numbers, div.sortedNumbers {
        margin: 5px;
    }

    div#board, div#sortedNums {
        width: 650px;
    }
}

@media (max-width: 650px) {
    div.numbers, div.sortedNumbers {
        margin: 10px;
    }

    div#board, div#sortedNums {
        width: 85%;
        height: 100%;
    }

    .bouncy, div#select {
        width: 50%;
    }

    /* div#select {
        width: 30%;
        height: 30px;
    } */

    div#buttons, div#select {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div#buttons {
        flex-flow: column wrap;
    }
}

@media (max-width: 550px) {
    .bouncy, div#select {
        width: 100%;
    }
    
    div#sortedNums {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        /* align-items: center; */
        /* text-align: center; */
        /* justify-content: center; */
        justify-items: center;
    }

}

@media (max-width: 315px) {
    div#board, div#sortedNums {
        width: 75%;
    }

    div#sortedNums {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (max-width: 225px) {
    div#sortedNums {
        grid-template-columns: 1fr;
    }
}
